<script src="{{ '/_assets/scoped-custom-element-registry.min.js' | asset | url }}"></script>
<script src="https://unpkg.com/@stackblitz/sdk@1/bundles/sdk.umd.js"></script>
<script type="importmap">
  { "imports": { 
        "lit": "https://cdn.jsdelivr.net/npm/lit@3.2.0/index.js",
        "lit-element/": "https://cdn.jsdelivr.net/npm/lit-element/",
        "lit/": "https://cdn.jsdelivr.net/npm/lit@3.2.0/",
        "lit-html": "https://cdn.jsdelivr.net/npm/lit-html@3.2.0/lit-html.js",
        "lit-html/":"https://cdn.jsdelivr.net/npm/lit-html@3.2.0/",
        "@lit/reactive-element":"https://cdn.jsdelivr.net/npm/@lit/reactive-element@2.0.4/reactive-element.js",
        "@open-wc/scoped-elements/": "https://cdn.jsdelivr.net/npm/@open-wc/scoped-elements@3.0.5/",
        "@open-wc/dedupe-mixin":"https://cdn.jsdelivr.net/npm/@open-wc/dedupe-mixin@1.4.0/+esm",
        "@lion/ui/": "https://cdn.jsdelivr.net/npm/@lion/ui@0.7.6/",
        "singleton-manager":"https://cdn.jsdelivr.net/npm/singleton-manager@1.7.0/src/index.min.js"
    }
  }
</script>
